h1,
h2,
h3,
h4 {
  margin: 15px 0px 5px 5px;
  font-size: 150%;
  font-weight: 200;
  letter-spacing: 5px;
  text-align: center;
}

.form-control {
  font-weight: 600;
  border-color: rgb(170, 247, 236);
  border-radius: 6px;
  font-size: 0.6cm;
  font-family: "Montserrat", sans-serif;
  opacity: 70%;
  color: rgb(95, 158, 160);
  text-transform: capitalize;
}

.form-control:hover {
  border-width: 3px;
  transition: ease-in-out 400ms;
  color: rgb(95, 158, 160);
  border-color: aquamarine;
}

#date-now,
.display-city {
  letter-spacing: 5px;
  font-weight: 600;
  color: rgb(255, 251, 251);
  text-transform: uppercase;
  margin-left: -20%;
  text-align: center;
}
#bgimg {
  display: block;
  margin: 0px 0px 0px 160px;
}
.btn {
  border-radius: 5px;
  border-color: rgb(170, 247, 236);
  background-color: rgba(170, 247, 236, 0.342);
  margin: 0px 10px 0px 0px;
  color: whitesmoke;
  font-weight: 200;
}
.btn:hover {
  font-weight: 700;
  transition: ease-in-out 300ms;
  color: rgb(218, 102, 25);
  background-color: azure;
}

.table,
.row {
  color: #e9ecef;
  font-weight: 450;
}

#cloud {
  text-transform: capitalize;
  text-align: center;
  margin-top: 0px;
  color: hsl(32, 100%, 74%);
  font-weight: 700;
}

.figure {
  color: hsl(32, 100%, 93%);
  font-weight: 700;
  float: right;
}

.temp-number {
  color: #e9ecef;
  font-weight: 100;
  font-size: 100px;
  margin: 0px 2px 10px 50px;
  line-height: 100px;
}
.current-temp-units {
  position: relative;
  color: #e9ecef;
  font-size: 30px;
  font-weight: 200;
  top: -50px;
}

.container,
.wave-graph {
  max-width: 600px;
  margin-left: 8%;
}
.current-conditions,
.buoy {
  border-color: cadetblue;
  border-style: solid;
  border-width: 1px;
  padding: 15px 0px 0px 0px;
  background-color: rgb(117, 150, 150);
  border-radius: 5px;
}
.future-conditions {
  border-color: rgb(95, 158, 160);
  border-style: solid;
  border-width: 1px;
  background-color: rgb(246, 248, 248);
  border-radius: 5px;
}

.card-text {
  text-align: center;
  color: grey;
}
.card {
  border-color: rgba(128, 128, 128, 0.068);
}
li {
  list-style-type: none;
  line-height: 30px;
}
.wave-graph {
  float: right;
  margin-top: 2%;
}

footer {
  margin: 15px 0px 5px 5px;
  letter-spacing: 2px;
  text-align: center;
  max-width: 600px;
  margin-left: 8%;
}

a:link {
  text-decoration: none;
}
